#body {
  text-align: justify;
  padding: 20px 40px;
  margin: 0em 2em;
  background-color: rgb(230, 230, 230);
}

h1 {
  font-family: impact;
  font-weight: bolder;
  font-size: 44px;
  color: rgb(29, 23, 70);
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: rgb(29, 23, 70);
}

p {
  font-family: verdana;
}

.bible {
  font-style: normal;
}
.text {
  font-style: italic;
  text-decoration: underline;
}

.images {
  margin-right: 10px;
  margin-bottom: 5px;
  border: solid black 1px;
  padding: 2px;
}

@media print {
  body {
    background-color: #fff;
  }
}
